
body {
    background-color: rgb(250, 245, 245);
    padding-top: 2em;
    width: auto;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
}

#main-image {
    max-width: 50%;
}

.inline-image {
    display: inline-block;
    vertical-align: top;
}

.logo {
    max-width: 5%;
}

.footer-logo {
    vertical-align: top;
    max-width: 5%;
}

.no-underline {
    text-decoration: none;
}
